---
interface Props {
  // Sección Familia
  famTitle: string;
  famDesc1: string;
  famDesc2: string;
  famImgAlt: string;
  // Sección Historia
  histTitle: string;
  histDesc1: string;
  histDesc2: string;
  histDesc3: string;
}

const { famTitle, famDesc1, famDesc2, famImgAlt, histTitle, histDesc1, histDesc2, histDesc3 } = Astro.props;
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/family.webp"
        alt={famImgAlt}
      />
      <div class="flex flex-col gap-10">
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-4xl font-light tracking-tight sm:text-5xl" style="font-family: 'Cormorant Garamond', Georgia, serif;">
            {famTitle}
          </h2>
          <div class="space-y-8">
            <p class="text-xl sm:text-2xl font-light italic text-primary-900 dark:text-primary-100 leading-relaxed" style="font-family: 'Cormorant Garamond', Georgia, serif;">{famDesc1}</p>
            <p class="text-xl sm:text-2xl font-light italic text-primary-900 dark:text-primary-100 leading-relaxed" style="font-family: 'Cormorant Garamond', Georgia, serif;">{famDesc2}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-16 sm:py-20" style="transition-delay: 440ms">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24 items-center">
      <video 
  id="myVideo"
  muted
  autoplay
  playsinline
  class="absolute inset-0 w-full h-full object-cover object-center"
>
  <source src="/assets/about_video.mp4" type="video/mp4" />
</video>

      <div class="flex reveal flex-col gap-10" style="transition-delay:150ms">
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-4xl font-light tracking-tight sm:text-5xl" style="font-family: 'Cormorant Garamond', Georgia, serif;">
            {histTitle}
          </h2>
          <div class="space-y-8">
            <p class="text-xl sm:text-2xl font-light italic text-primary-900 dark:text-primary-100 leading-relaxed" style="font-family: 'Cormorant Garamond', Georgia, serif;">{histDesc1}</p>
            <p class="text-xl sm:text-2xl font-light italic text-primary-900 dark:text-primary-100 leading-relaxed" style="font-family: 'Cormorant Garamond', Georgia, serif;">{histDesc2}</p>
            <p class="text-xl sm:text-2xl font-light italic text-primary-900 dark:text-primary-100 leading-relaxed" style="font-family: 'Cormorant Garamond', Georgia, serif;">{histDesc3}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
